<% layout('admin_layout') -%>
<h1>Gyroscoper Admin Interface <a href="/admin/logout">(log out)</a></h1>
<a href="/admin/download">Download Data</a>
  <% if (downloadError) { %>
  <div class="alert alert-danger">
    <strong>Sorry!</strong> We encountered an error downloading the data: <%= downloadError %>
  </div>
  <% } %>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Entry #</td>
      <td>Time</td>
      <td># Accel Records</td>
      <td># Gyro Records</td>
    </tr>
  </thead>
  <tbody>
<% _.forEach(entries, function(entry, i) { %>
    <tr>
      <td>#<%= i + 1 %></td>
      <td><%= entry.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td>
      <td><%= entry.accel.length %></td>
      <td><%= entry.gyro.length %></td>
    </tr>
<% }) %>
  </tbody>
</table>
